<div class="container" id="show-container">

  <p id="back-to-index"><%= link_to "← 一覧に戻る", :plans %></p>

  <div class="table-header">
    <h2><%= @plan.title %></h2>
    <%= link_to [:edit, @plan], class: "btn", id: "btn-edit" do %>
      <%= image_tag "pen.png" %> 編集
    <% end %>
  </div>

  <div id="table-show-container">
    <table class="table" id="table-show">
      <tr>
        <th>開始日</th>
        <td><%= @plan.start_date.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @plan.finish_date.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><%= "○" if @plan.all_day %></td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @plan.memo %></td>
      </tr>
    </table>
  </div>

</div>